/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    flex-direction: column;
    overflow: hidden !important;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
}

.credits-container {
    flex: 2;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.credits {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2vw;

    transform: translateY(100%);
}

.credits p {
    margin: 0;
    padding: 0 5%;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}



@media (max-width: 1024px) {
    .credits {
        font-size: 3vw;
 
    }
}

@media (max-width: 768px) {
    .credits {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .credits {
        font-size: 5vw;

    }
}*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
}

.credits-container {
    flex: 2;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    /* Ajusta el contenedor de créditos para que comience fuera de la vista */
}

.credits {
    position: relative;
    width: 70%;
    text-align: center;
    font-size: 1.3vw;
    transform: translateY(100%);
    font-family: MS Gothic;
    color: #b8b8b8;
    line-height: 1.6;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.credits p {
    margin: 0;
    padding: 0 5%;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}


/* Media queries para pantallas más pequeñas */

@media (max-width: 1024px) {
    .credits {
        font-size: 2vw;
        /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
    button {
        font-size: 2.5vw;
        /* Ajusta el tamaño del botón para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .credits {
        font-size: 2vw;
        /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
    button {
        font-size: 3vw;
        /* Ajusta el tamaño del botón para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .credits {
        font-size: 5vw;
        /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    }
    button {
        font-size: 4vw;
        /* Ajusta el tamaño del botón para pantallas más pequeñas */
    }
}

.hidden-page {
    display: none !important;
}

.show-page-main {
    display: block !important;
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-add {
    visibility: visible;
}

.show-page {
    display: flex !important;
}

iframe {
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    left: 0rem;
    margin-top: -2rem;
}

.fade-in-content {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    position: absolute;
    top: 26vh;
    width: 90vh;
}

.fiends {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
}

.friends,
.data {
    padding-left: 1rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.heading {
    font-family: MS Gothic !important;
    padding: 8px 15px;
    border: 1px solid #fff;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
}

.heading::after {
    font-family: MS Gothic !important;
    content: "[ _ ][ o ][ x ]";
    float: right;
    font-size: 12px;
}

.inner {
    font-family: MS Gothic !important;
    font-size: 12px;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-top: none;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
    line-height: 1.5;
}

.sign {
    margin-top: 8px;
    padding: 10px 15px;
    border: 1px solid #fff;
    height: 281px;
    max-height: 300px;
}